.chat {
    display: flex;
}

.sidebar {
    height: 95vh;
    color: black;
    border: 1px solid black;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    overflow-y: scroll
}

.message-title {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 0px 0px 0px 0px;
    font-weight: 300;
    font-size: 15px;
    background: white;
    padding: 15px;
}

.message-from-username {
    width: 50%;
    box-sizing: border-box;
    float: right;
}

.message-to-username {
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.users-title {
    border-bottom: 1px solid black;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

.main {
    margin-left: 5px;
    flex-grow: 1;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    font-weight: 300;
    max-height: 95vh;
}

.messages {
    background: white;
    border: 1px solid black;
    flex-grow: 1;
    padding: 5px 10px 5px 10px;
    overflow: scroll;
    font-size: 15px;
    font-weight: 300;
}

.message-to {
    width: auto;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.message-from {
    width: auto;
    text-align: right;
    align-items: right;
    margin-bottom: 10px;
    margin-right: 10px;
}

.message-to-name {
    color: blue;
    font-weight: 300;
    font-size: 15px;
    margin-right: 5px;
}

.message-from-name {
    color: grey;
    font-weight: 300;
    font-size: 15px;
    margin-right: 5px;
}

.message-to-meta {
    color: blue;
    font-size: 10px;
}

.message-from-meta {
    color: grey;
    font-size: 10px;
}

.message-form {
    display: flex;
    flex-shrink: 0;
    margin-top: 5px;
}

.message-form form {
    display: flex;
    flex-grow: 1;
    border: 2px solid black;
}

.message-form input {
    width: 95vh;
    padding: 15px;
    outline: none;
    border: none;
    flex-grow: 1;
}

.message-form button {
    font-size: 15px;
    background: grey;
    color: white;
    border: none;
    outline: none;
    width: 100px;
}

.message-form button:hover {
    background: black;
    color: white
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-table td {
    text-align: center;
    padding: 5px;
}

.users-table tr:hover {
    cursor: pointer;
    background-color: grey;
}

.online-users {
    background-color: white;
}

.notify {
    display: none;
    color: green;
}