.chat {
    display: flex;
}

.sidebar {
    height: 95vh;
    color: black;
    border: 1px solid black;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    overflow-y: scroll
}

.chat-title {
    border-bottom: 1px solid black;
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-weight: 300;
    font-size: 20px;
    background: white;
    padding: 20px;
}

.list-title {
    border-bottom: 1px solid black;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

.users {
    list-style-type: none;
    color: black;
    font-weight: 300;
    margin: 0px 0px 0px 0px;
    padding: 5px 25px 0px 10px;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 95vh;
}

.messages {
    margin-left: 5px;
    background: white;
    border: 1px solid black;
    flex-grow: 1;
    padding: 5px 10px 5px 10px;
    overflow: scroll;
    font-size: 15px;
    font-weight: 300;
}

.message-to {
    width: auto;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.message-from {
    width: auto;
    text-align: right;
    align-items: right;
    margin-bottom: 10px;
    margin-right: 10px;
}

.message-to-name {
    color: blue;
    font-weight: 300;
    font-size: 15px;
    margin-right: 5px;
}

.message-from-name {
    color: grey;
    font-weight: 300;
    font-size: 15px;
    margin-right: 5px;
}

.message-to-meta {
    color: blue;
    font-size: 10px;
}

.message-from-meta {
    color: grey;
    font-size: 10px;
}

.message-form {
    display: flex;
    flex-shrink: 0;
    margin-top: 5px;
    margin-left: 5px;
}

.message-form form {
    display: flex;
    flex-grow: 1;
    border: 2px solid black;
}

.message-form input {
    width: 95vh;
    padding: 15px;
    outline: none;
    border: none;
    flex-grow: 1;
}

.message-form button {
    font-size: 15px;
    background: grey;
    color: white;
    border: none;
    outline: none;
    width: 100px;
}

.message-form button:hover {
    background: black;
    color: white
}