.login {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  form {
    width: 300px;
    height: 300px;
    padding: 30px;
    background-color: var(--main-color);
    border: 1px solid white;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .textInput {
      width: 300px;
      height: 40px;
      border: 1px solid white;
      border-radius: 5px;
      background-color: var(--main-color);
      color: white;
      padding-left: 10px;

      &::placeholder {
        color: white;
      }
    }

    button {
      width: 200px;
      height: 40px;
      border-radius: 5px;
      background-color: var(--main-color);
      border: 1px solid white;
      border-radius: 5px;
      color: white;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
    }

    .link {
      color: inherit;
      text-decoration: none;
    }
  }
}