<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-Home</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <div class="home">
        <div class="public-chat-box">
            <h3>공개채팅</h3>
            <form>
                <input type="text" name="public-chat-name" placeholder="공개채팅이름" required>
                <button>생성</button>
            </form>
            <div class="public-chat-list" id="public-chat-list">
                <!-- public-chats-template -->
            </div>
        </div>
        <div class="private-chat-box">
            <h3>개인채팅 </h3>
            <div class="private-chat-info">
                <h3 id="username"></h3>
                <button id="logout-btn" class="logout-btn">로그아웃</button>
            </div>
            <button id="private-chat-link" class="private-chat-link">입장</button>
        </div>
    </div>
</body>

<script id="public-chats-template" type="text/html">
    <ul class="public-chats">
        {{#publicchats}}
            <li class="public-chat">{{publicChatName}} </li>
        {{/publicchats}}
    </ul>
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./js/home.js"></script>

</html>