<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-Login</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <div class="login-form">
        <div class="login-box">
            <h3>로그인</h3>
            <form>
                <input type="text" name="username" placeholder="유저이름" required>
                <input type="password" name="password" placeholder="비밀번호" required>
                <button>로그인</button>
            </form>
            <button id="register-link">회원가입</button>
        </div>
    </div>

    <script src="./js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>