<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-Register</title>
    <link rel="stylesheet" href="./css/register.css">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <div class="register-form">
        <div class="register-box">
            <h3>회원가입</h3>
            <form>
                <input type="text" name="username" placeholder="유저이름" required>
                <input type="password" name="password" placeholder="비밀번호" required>
                <button>회원가입</button>
            </form>
            <button id="login-link">로그인</button>
        </div>
    </div>

    <script src="./js/register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>