<%- include('../partial/header') %>
<div class="mx-3">
    <h5 class="mb-3">카테고리 생성</h5>
    <form method="POST" action="/admin/category/add">
        <input type="text" class="form-control mb-3" id="title" name="title" placeholder="카테고리명">
        <div class="btn-box">
            <button class="btn btn-secondary" type="submit"><i class="bi bi-plus-circle"></i></button>
            <a href="/admin/category" class="btn btn-secondary"><i class="bi bi-backspace"></i></a>
        </div>
    </form>
</div>
<%- include('../partial/footer') %>