<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <br><br>
    <div class="container">
        <h2>asset create</h2>
        <form action="/assetcreate" method="post">
            <label for="fname">asset name:</label><br>
            <input type="text" id="key" name="key"><br><br>
            <label for="lname">asset value:</label><br>
            <input type="text" id="value" name="value"><br><br>
            <input type="submit" value="submit" class="btn btn-success">
        </form>
        <br><br>
    </div>
</body>

</html>