<!DOCTYPE html>
<html>

<head>
    <title>SimpleAsset</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>

<body>
    <br><br>
    <div class="container">
        <a href="/create" class="btn btn-secondary"> asset create </a>
        <br><br>
        <a href="/delete" class="btn btn-secondary"> aset delete </a>
        <br><br>
        <a href="/query" class="btn btn-secondary"> asset quiry </a>
        <br><br>
        <a href="/transfer" class="btn btn-secondary"> asset transfer </a>
        <br><br>
    </div>

</body>

</html>