.content {
  position: absolute;
  top: 300px;
  width: 100%;
  height: 500px;
  overflow: hidden;

  &:hover {

    .contentButtonleft,
    .contentButtonright {
      opacity: 1;
    }
  }
}

.contentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  background-color: var(--main-color);
  color: white;
  z-index: 99;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.6s;
}

.contentButtonleft {
  left: 0;
}

.contentButtonright {
  right: 0;
}

.carousel {
  padding-left: 30px;
  height: 200px;
}

.contentItems {
  width: 220px;
  transition: all ease 0.5s;
  height: 200px;
  display: flex;
}