    .search {
        width: 800px;
        height: 600px;
        position: absolute;
        top: 100px;
        left: 300px;
        align-items: center;
        display: flex;
        flex-direction: column;
        background: var(--main-color);
        cursor: pointer;
        border: 1px solid white;

        .searchBar {
            display: flex;
            width: 100%;
            height: 30px;
            flex-direction: row;

            input {
                outline: none;
                padding: 2px;
                margin-right: 5px;
                border: 1px solid white;
                color: white;
                background-color: var(--main-color);
                width: 80%;
            }

            button {
                width: 20%;
                box-shadow: none;
                outline: none;
                border: 1px solid white;
                color: white;
                background-color: var(--main-color);
            }
        }

        .movieItem {
            img {
                width: 300px;
                height: 300px;
                border: 1px solid white;
                object-fit: cover;
            }
        }
    }

    .movieItem:hover {
        width: 500px;
        height: 500px;
        border: 1px solid white;

        video {
            width: 500px;
            height: 300px;
            border: 1px solid white;
            object-fit: cover;
        }

        img {
            display: none;
        }

        .searchMore {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;

            .title {
                font-size: 20px;
            }

            .icons {
                display: flex;
                margin-bottom: 10px;
                margin-top: 10px;

                .icon {
                    color: white;
                    border: 2px solid white;
                    padding: 10px;
                    border-radius: 50%;
                    margin-right: 10px;
                    font-size: 20px;
                }
            }

            .sub {
                display: flex;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 600;
                color: white;

                .genre {
                    border: 1px solid white;
                    padding: 1px 3px;
                    margin: 0 3px;
                }

                .year {
                    border: 1px solid white;
                    padding: 1px 3px;
                    margin: 0 3px;
                }

                .limit {
                    border: 1px solid white;
                    padding: 1px 3px;
                    margin: 0 3px;
                }
            }

            .desc {
                border: 1px solid white;
                font-size: 14px;
            }
        }
    }