<section class="prompt">
    <h1>LOGIN</h1>
    <form action="/ppauth/login" method="post">
        <div>
            <label for="email">EMAIL</label>
            <input id="email" name="email" type="text" required />
        </div>
        <div>
            <label for="password">PASSWORD</label>
            <input id="password" name="password" type="password" required />
        </div>
        <button type="submit">LOGIN</button>
    </form>
    <a href="/ppauth/google"> LOGIN WITH GOOGLE </a>
    <br/>
    <a href="/ppauth/kakao"> LOGIN WITH KAKAO </a>
    <p>DON'T YOU HAVE ID?<a href="/ppauth/register">REGISTER </a></p>
</section>